  
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

}
.container {
	max-width: 1180px;
	margin: 0px auto;
}
.content {
flex: 1 1 auto;
}
.hi {
	background-color: #445162;
	padding: 50px 0;
}
.hi__row {
	display: flex;
	justify-content: space-between;
}
.hi__body {
	color: white;
	padding-right: 30px;
}
.hi__title {
	font-size: 60px;
	text-shadow: 1px 1x 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 38px;
}
.hi__list {
	font-size: 20px;
}
.hi__list li {
	background: url('../img/check.png') 0 1px no-repeat;
	padding-left: 36px;
	line-height: 22px;
	margin: 0px 0px 17px 0px;
}

.hi__list li:last-child {
	margin: 0;
	}
.hi__image {

}


.title { 
font-size: 30px;
color:#445161
line-height: 36px;
}

.what { 
padding: 50px 0;
}
.container {

 }
.what__row { 
display: flex;
}
.what__image { 
flex: 0 0 430px;
}

.what__image img { 
	min-width: 100%;
	}

.what__body {
flex: 1 1 auto;
padding-left: 38px; }
.what__title {
margin-bottom: 33px;
 }

.what__text p {
line-height: 24px;
font-size: 16px;
color: #333333;
 }

.colums { 
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;
}
.container { 

}
.colums__title { 
	text-align: center;
	margin-bottom: 30px;;
}
.colums__row { 
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.colums_colum {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin-bottom: 30px;
 }
.colums__item { }
.item { }
.item__row {
	display: flex;
 }
.item__image {
	flex: 0 0 200px;
 }
.item__body {
	flex 1 1 auto;
	padding-left: 15px;
 }
.item__title { 
	font-size: 24px;
	line-height: 30px;
	color: #445161;
	margin-bottom: 13px;
}
.item__text { 
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.vertical {
	padding: 50px 0;
 }

.vertical__title {
	text-align: center;
	margin-bottom: 30px;
 }

.vertical__body { 
	width: 990px;
	margin: 0 auto;
}
.vertical__row { 
	display: flex;
	margin: 0 -22.5px;
}
.vertical__column { 
	flex: 0 1 33.3333%;
	padding: 0px 22.5px;
	display: flex;
}
.vertical__item {
	background-color: #445162;
	border-radius: 5px;
	border: 2px solid #445162;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
 }
.vertical__subtitle {
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	padding: 12px 0;
 }
.vertical__label { 
	background-color: white;
	color: #445162;
	font-size: 40px;
	line-height: 30px;
	text-align: center;
	padding: 15px;
}
.vertical__text {
	padding: 20px;
	color: white;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;
 }
 .vertical__text p {
	 margin-bottom: 15px;
 }
 .vertical__text p:last-child {
	 margin: 0;
 }
.vertical__btn { 
	display: block;
	margin: 0 20px;
	background-color: white;
	text-align: center;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}

.footer {
	background-color: #f5f5f5;
}
.footer__row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #445162; 
}